.container {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  margin: 0 auto;
  font: 18px bold Georgia, sans-serif;
  border: 2px solid black;
}

span {
  padding: 0 10px;
  text-align: center;
  color: black;
  border: 1px solid red;
}