.container {
  max-width: 50%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  font: 20px bold Georgia, sans-serif;
  color: darkslategray;
}

button {
  margin: 50px 50px 20px;
  font: 20px bold Georgia, sans-serif;
  padding: 10px 30px;
  background: transparent;
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background: black;
  color: white;
  transition: all 0.5s ease-out;
}

button:active {
  color: #ff4800e6;
}

.data {
  color: #ff4800e6;
}

span {
  padding: 0 5px;
  border: 1px solid red;
}