.container,
.outputContainer {
  width: 50%;
  margin: 0 auto;
  font: 18px bold Georgia, sans-serif;
  text-align: center;
}

.container {
  border: 2px solid black;
}

.container div,
.outputContainer div {
  border: 1px solid red;
}

.outputContainer {
  border: 1px solid blue;
}

h2 {
  text-align: center;
}